@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Kategori Ekleme Sayfası</h2>
<br />
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori adı")
        @Html.TextBoxFor(x => x.CategoryName, new {@class="form-control"})
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /><br />
        @Html.Label("kategori açıklaması")
        @Html.TextAreaFor(x => x.CategoryDescription ,new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)

        <br />
        
        <button class="btn btn-success">Kaydet</button>

    </div>
}

